/* Global styles */
.window {
  padding: 1px;
}

.title-bar-text {
  font-weight: 500;
  font-size: 14px;
}

.window-body.page-body {
  min-height: 100vh;
}

/* Navbar */
.navbar {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
}

.navbar .pages {
  display: flex;
  gap: 25px;
}

.navbar .pages a {
  text-decoration: none;
  color: black;
  outline: none;
}

.navbar .github-profile {
  display: flex;
  align-items: center;
}

.navbar .github-profile .fa-github {
  margin-right: 7px;
}

.status-bar-field {
  border-radius: 10px;
  padding: 5px;
}

.navbar .wallet-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 10px;
}

.mint-btn {
  height: 80%;
  font-size: 20px;
  font-weight: bold;
}

.navbar__link {
  color: black;
}

.navbar__link--active {
  color: blue !important;
  font-weight: bold;
}

/* Pages */

.page-content {
  margin: 25px;
}

.page-title {
  font-size: 36px;
}

/* My profile page */
.profile-img {
  height: 212px;
  width: 212px;
}

.profile-holder {
  padding: 30px;
}

.profile-holder {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.details p {
  font-size: 18px;
  margin-top: 20px;
}

.detail-tile {
  width: 200px;
  padding-left: 10px;
}

.section-title {
  display: flex;
  margin-top: 25px;
  align-items: center;
  gap: 5px;
}

.section-title h4 {
  font-size: 28px;
}
